body
{
    margin: 15px;
}

hr
{

    border-style: solid;
    border-color: black;
    border-width: 2px 0 0 0;
    border-radius: 20px;

}



.row
{
    margin-bottom: 70px;
}



.col-md-3
{
    border:solid 2px rgb(87, 86, 86);
    text-align: center;
    padding:30px;
  
}
@media (min-width: 900px) {
    .col-md-3 {
      width:23%;
    }
}


.btn,input
{
    border:solid 2px rgb(87, 86, 86);
 
}

.error
{
    color: red;
}
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
    font-weight: 500;

}
  

.alert {
    position: relative;
    padding:5px;
    margin-bottom:5px;
    border: 1px solid transparent;
    border-radius: .25rem;
}


   