{% extends 'base.html' %}
{% block title %} products Add {% endblock %}
{% block body %}




<form id="product_form" method="POST">
<div class="d-md-flex justify-content-between">
    <h2>Product Add</h2>
    <div>
        <input type="submit" id="save" class="btn btn-light" name="save" value="Save" >
        <a href="\Products\index" class="btn btn-light">Cancel</a>
    </div>

</div>
<hr>


{% if not (errors is empty) %} 
<div class="col-md-3 alert alert-danger" role="alert">
        {%if not (errors.sku is empty)%}
        <span> {{ 'Sku: ' ~ errors.sku }} </span> <br>
        {% endif %}

        {%if not (errors.name is empty)%}
        <span> {{ 'Name: ' ~ errors.name }} </span> <br>
        {% endif %}

        {%if not (errors.price is empty)%}
        <span> {{ 'Price: ' ~ errors.price }} </span> <br>
        {% endif %}

        {%if not (errors.productType is empty)%}
        <span> {{ 'Type Switcher: ' ~ errors.productType }} </span> <br>
        {% endif %}

        {%if not (errors.size is empty)%}
        <span> {{ 'Size: ' ~ errors.size }} </span> <br>
        {% endif %}

        {%if not (errors.weight is empty)%}
        <span> {{ 'Weight: ' ~ errors.weight }} </span> <br>
        {% endif %}

        {%if not (errors.height is empty)%}
        <span> {{ 'Height: ' ~ errors.height }} </span> <br>
        {% endif %}

        {%if not (errors.width is empty)%}
        <span> {{ 'Width: ' ~ errors.width }} </span> <br>
        {% endif %}

        {%if not (errors.length is empty)%}
        <span> {{ 'Length: ' ~ errors.length }} </span> <br>
        {% endif %}

        
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="form-group row m-3">
                <label class="col-sm-2 col-form-label">SKU</label>
                <div class="col-sm-10">
                    <input id="sku" name="sku" type="text" value="{{ data.sku }}" class="form-control" required> 
                </div>
            </div>
    
    
            <div class="row form-group m-3">
                <label class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input id="name" name="name" type="text" value="{{ data.name }}" class="form-control" required>
                </div>
                
            </div>
    
            <div class="form-group row m-3">
                <label class="col-sm-2 col-form-label">Price ($)</label>
                <div class="col-sm-10">
                <input id="price" name="price" type="number" value="{{ data.price }}" class="form-control" required>
                </div>
            
            </div>
    
    
            
            <label for="productType">Type Switcher:</label>
            
            <select name="productType" id="productType" required>
                    <option value="" selected>Type Switcher</option>
                    <option value="dvd">DVD</option>
                    <option value="book">Book</option>
            
                    <option value="furniture">Furniture</option>
            </select>
            
    
    
            <div id="dvd" class="form-group  products row m-3" style="display: none;">
                <label class="col-sm-2 col-form-label">Size (MB)</label>
                <div class="col-sm-10">
                    <input id="size" name="size" type="number" value="" class="form-control">
                    
                </div>
                <span style="font-weight: bold;"> “Please, provide size in MB”</span>
                
                
            </div>
    
            <div id="book" class="form-group products row m-3" style="display: none;">
                <label class="col-sm-2 col-form-label">Weight (KG)</label>
                <div class="col-sm-10">
                <input id="weight" name="weight" type="number" class="form-control">
                
                </div>
                <span style="font-weight: bold;"> “Please, provide weight in KG”</span>
    
            </div>
    
            <div id="furniture" class="form-group products row m-3" style="display: none;">
                <label class="col-sm-2 col-form-label">Height (CM)</label>
                <div class="col-sm-10">
                <input id="height" name="height" type="number" class="form-control">
    
                </div>
    
                <label class="col-sm-2 col-form-label">Width (CM)</label>
                <div class="col-sm-10">
                <input id="width" name="width" type="number" class="form-control">
                </div>
    
                <label class="col-sm-2 col-form-label">Length (CM)</label>
                <div class="col-sm-10">
                <input id="length" name="length" type="number" class="form-control">
                </div>
                <span style="font-weight: bold;"> “Please, provide dimensions”</span>
                
                
                
            </div>
    
    
    
        </div>
    </div>

</div>
</form>
{% endblock%}