{% extends 'base.html' %}
{% block title %} products list {% endblock %}
{% block body %}


<form action="/products/deleteItems" method="POST">
<div class="d-md-flex justify-content-between">
    <h2>Product list</h2>
    <div>
        <a href="/addProduct" class="btn btn-light">ADD</a>
        <input id="delete-product-btn" type="submit" class="btn btn-light" name="delete_records" value="MASS DELETE">   
    </div>
    
</div>

<hr>

<div class="container">
    <div class="row">
        {% for dvd_product in dvd_products %}
        <div class="col-md-3 m-2">
            <input class="delete-checkbox" type="checkbox" name="no[]" value="{{ dvd_product.id }}">
            <span>{{ dvd_product.product_sku }}</span><br>
            <span>{{ dvd_product.product_name }}</span><br>
            <span>{{ dvd_product.product_price }}</span> $<br>
            <span>{{ 'Size: ' ~ dvd_product.product_size ~ ' MB'}}</span><br>


            
        </div>
        {% endfor %}

        {% for book_product in book_products %}
        <div class="col-md-3 m-2">
            <input class="delete-checkbox" type="checkbox" name="no[]" value="{{ book_product.id }}">
            <span>{{ book_product.product_sku }}</span><br>
            <span>{{ book_product.product_name }}</span><br>
            <span>{{ book_product.product_price }}</span> $<br>
            <span>{{ 'Weight: ' ~ dvd_product.product_size ~ ' KG'}}</span><br>


            
        </div>
        {% endfor %}

        {% for furniture_product in furniture_products %}
        <div class="col-md-3 m-2">
            <input class="delete-checkbox" type="checkbox" name="no[]" value="{{ furniture_product.id }}">
            <span>{{ furniture_product.product_sku }}</span><br>
            <span>{{ furniture_product.product_name }}</span><br>
            <span>{{ furniture_product.product_price }}</span> $<br>
            <span>{{ 'Dimension: ' ~ furniture_product.product_height}}x{{ furniture_product.product_width }}x{{furniture_product.product_length}}

            
        </div>
        {% endfor %}


    </form>
    </div>
</div>

    

    

{% endblock%}