<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="../../../styles/style.css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    {% block body %}
    {% endblock %}

    <div class="footer">
      <hr>
      <span>Scandiweb Test assignment</span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">

      $(function() {
          $('#productType').change(function(){
              $('.products').hide();
              $('#' + $(this).val()).show();
              $("#product_form").attr('action', '/Products/save'+ $(this).val() +'Product');
          });
      });


    </script>


    
    
  </body>
</html>